.greenHome {
    color: white;
    background: #00b388;
    width: 100%;
    min-height: 4em;
    text-align: center;
    padding: 10px;
}

.header{
    min-height: 4em;
    background: #00b388;
}
.sc-ion-back-button-ios-h {
    --color: #ffffff !important;
}
p{
    font-size: 19px;
}
/* iPhone X and Xs Max */
@media only screen 
    and (min-device-width: 375px) 
    and (min-device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait) { 
    .header{
        height: 110px;
    }
    .greenHome {
        height: 60px;
    }
    .profileIcon{
        height: 75px;
    }
}

/* iPhone XR */
@media only screen 
    and (min-device-width: 414px) 
    and (min-device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) 
    and (orientation: portrait) { 
    .header{
        height: 110px;
    }
    .greenHome {
        height: 60px;
    }
    .profileIcon{
        height: 75px;
    }
}
.hydrated:focus{
    outline: none;
}
@media only screen 
and (device-width : 375px) 
and (device-height : 667px) 
and (-webkit-device-pixel-ratio : 2) { 
    .header{
        height: 80px;
    }
    .greenHome {
        height: 60px;
    }
    .profileIcon{
        height: 75px;
    }
}
@media only screen 
and (device-width : 414px) 
and (device-height : 736px) 
and (-webkit-device-pixel-ratio : 3) { 
    .header{
        height: 80px;
    }
    .greenHome {
        height: 60px;
    }
    .profileIcon{
        height: 75px;
    }
}